In [26]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from keras.models import Sequential
from keras.layers import Dense

In [3]:
df_availability = pd.read_csv('availability.csv')
df_station = pd.read_csv('station.csv')

In [4]:
df_merged_station = pd.merge(df_availability, df_station, on='number')

In [5]:
df_weather = pd.read_csv("weather.csv")

In [6]:
df_merged_station = df_merged_station.sort_values("last_update")
df_weather= df_weather.sort_values("updatedTime")

df = pd.merge_asof(df_merged_station, df_weather, left_on="last_update", right_on="updatedTime", direction="nearest")

In [7]:
df

,number,available_bike_stands,available_bikes,status,last_update,name,address,position_lat,position_lng,banking,...,temp,feels_like,temp_min,temp_max,humidity,visibility,windSpeed,windDeg,sunrise,sunset
0,507,0,1,OPEN,1675786128,ORIEL STREET TEST TERMINAL,"JCDecaux Ireland, 52 Oriel Street Lower, Dublin 1",53.354630,-6.242615,0,...,280.24,277.04,279.50,280.92,84,10000,5.14,270,1677137238,1677174596
1,14,24,6,OPEN,1677186564,FOWNES STREET UPPER,Fownes Street Upper,53.344603,-6.263371,0,...,280.24,277.04,279.50,280.92,84,10000,5.14,270,1677137238,1677174596
2,101,12,18,OPEN,1677186564,KING STREET NORTH,King Street North,53.350291,-6.273507,0,...,280.24,277.04,279.50,280.92,84,10000,5.14,270,1677137238,1677174596
3,50,25,15,OPEN,1677186569,GEORGES LANE,George's Lane,53.350230,-6.279696,0,...,280.24,277.04,279.50,280.92,84,10000,5.14,270,1677137238,1677174596
4,99,23,7,OPEN,1677186570,CITY QUAY,City Quay,53.346637,-6.246154,0,...,280.24,277.04,279.50,280.92,84,10000,5.14,270,1677137238,1677174596
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725882,87,35,3,OPEN,1680554939,COLLINS BARRACKS MUSEUM,Collins Barracks Museum,53.347477,-6.285250,0,...,279.85,277.93,279.44,280.52,84,10000,2.68,150,1680501271,1680548519
725883,34,0,30,OPEN,1680554940,PORTOBELLO HARBOUR,Portobello Harbour,53.330362,-6.265163,0,...,279.85,277.93,279.44,280.52,84,10000,2.68,150,1680501271,1680548519
725884,25,11,19,OPEN,1680554967,MERRION SQUARE EAST,Merrion Square East,53.339434,-6.246548,0,...,279.85,277.93,279.44,280.52,84,10000,2.68,150,1680501271,1680548519
725885,96,26,4,OPEN,1680554976,KILMAINHAM LANE,Kilmainham Lane,53.341805,-6.305085,0,...,279.85,277.93,279.44,280.52,84,10000,2.68,150,1680501271,1680548519
725886,82,3,5,OPEN,1680554979,MOUNT BROWN,Mount Brown,53.341645,-6.297190,0,...,279.85,277.93,279.44,280.52,84,10000,2.68,150,1680501271,1680548519

In [8]:
df_4 = df.loc[df['number']== 4]

In [9]:
df_4 = df_4.drop('status', axis=1)

In [10]:
df_4 = df_4.drop('address', axis=1)

In [11]:
df_4 = df_4.drop('name', axis=1)

In [12]:
df_4

,number,available_bike_stands,available_bikes,last_update,position_lat,position_lng,banking,bonus,bike_stands,updatedTime,...,temp,feels_like,temp_min,temp_max,humidity,visibility,windSpeed,windDeg,sunrise,sunset
113,4,17,3,1677187168,53.346874,-6.272976,0,0,20,1677187426,...,280.24,277.04,279.50,280.92,84,10000,5.14,270,1677137238,1677174596
243,4,17,3,1677187775,53.346874,-6.272976,0,0,20,1677187426,...,280.24,277.04,279.50,280.92,84,10000,5.14,270,1677137238,1677174596
374,4,17,3,1677188381,53.346874,-6.272976,0,0,20,1677189259,...,280.33,277.15,279.52,280.94,84,10000,5.14,270,1677137238,1677174598
508,4,17,3,1677188988,53.346874,-6.272976,0,0,20,1677189259,...,280.33,277.15,279.52,280.94,84,10000,5.14,270,1677137238,1677174598
636,4,17,3,1677189594,53.346874,-6.272976,0,0,20,1677189259,...,280.33,277.15,279.52,280.94,84,10000,5.14,270,1677137238,1677174598
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725284,4,18,2,1680552072,53.346874,-6.272976,0,0,20,1680551927,...,280.45,278.36,280.00,281.68,81,10000,3.09,140,1680501271,1680548519
725412,4,18,2,1680552678,53.346874,-6.272976,0,0,20,1680553328,...,279.99,277.81,279.44,280.58,84,10000,3.09,150,1680501271,1680548519
725539,4,18,2,1680553283,53.346874,-6.272976,0,0,20,1680553328,...,279.99,277.81,279.44,280.58,84,10000,3.09,150,1680501271,1680548519
725661,4,18,2,1680553888,53.346874,-6.272976,0,0,20,1680553328,...,279.99,277.81,279.44,280.58,84,10000,3.09,150,1680501271,1680548519
725788,4,18,2,1680554494,53.346874,-6.272976,0,0,20,1680555534,...,279.85,277.93,279.44,280.52,84,10000,2.68,150,1680501271,1680548519

In [13]:
df_4["weatherMain"] = df["weatherMain"].astype("category")

In [14]:
# encoding weather main 

# create a LabelEncoder object
encoder = LabelEncoder()

# fit and transform the "weatherMain" categorical variable
df_4["weatherMain_encoded"] = encoder.fit_transform(df_4["weatherMain"])

# print the encoded values
print(df_4["weatherMain_encoded"])

# print the mapping between the original categories and their encoded values
print("Mapping between original categories and encoded values:")
for i, category in enumerate(encoder.classes_):
    print(f"{category} -> {i}")

113       1
243       1
374       1
508       1
636       1
         ..
725284    1
725412    1
725539    1
725661    1
725788    1
Name: weatherMain_encoded, Length: 6247, dtype: int64
Mapping between original categories and encoded values:
Clear -> 0
Clouds -> 1
Drizzle -> 2
Fog -> 3
Mist -> 4
Rain -> 5
Snow -> 6

In [15]:
df_4 = df_4.drop("weatherMain", axis=1)

In [16]:
X = df_4.drop('available_bike_stands', axis=1)
Y = df_4['available_bike_stands']

In [17]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

In [21]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [27]:
# 2.2 Initialize the Artificial Neural Network

classifier = Sequential()

In [28]:

# Get the number of columns
num_cols = df_4.shape[1]

# Subtract 1 to exclude the dependent variable
num_independent_vars = num_cols - 1

# Print the result
print('Number of independent variables:', num_independent_vars)

Number of independent variables: 21

In [ ]:
# 2.3 Add the input layer and the first hidden layer

classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu', input_dim = 21))

In [ ]:
# add second layer 
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu'))

In [ ]:
# add outer layer 
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

In [ ]:
# Train the ANN
# Compile the ANN

In [ ]:
# Fit the ANN to the Training set

In [ ]:
# Predict the Test Set Results-

In [ ]:
# Make the Confusion Matrix